---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection, } from 'astro:content';
import FormattedDate from "../components/FormattedDate.astro";
import {getNewsletterCollection, readingTime, stripHTML} from "../lib/frontPageHelpers";

const newsletterPages = await getNewsletterCollection()
newsletterPages.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
const pages = newsletterPages.slice(0, 5);

const maxPages = Math.ceil(newsletterPages.length / 5);
---


<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			{pages.map((entry) => (
				<div class="mb-10">
					<a href={"newsletter/" + entry.slug}><img src={entry.data.image.startsWith("https") ? entry.data.image : "/" + entry.data.image}/></a>
					<a href={"newsletter/" + entry.slug}><h2 class="-mb-2 font-extrabold font-headings">{entry.data.title}</h2></a>
					<p class="-mb-1 dark:text-neutral-400 text-neutral-700">{stripHTML(entry.body).slice(0, 450)}...</p>
					<div class="flow-root space-x-5 text-neutral-800 dark:text-neutral-200 ">
						{entry.slug.startsWith("newsletter") ? <p class="text-sm font-sans-serif float-left">
							<i class="fa-regular fa-clock"/>{" "}{readingTime(stripHTML(entry.body))}
						</p> : null}
						<p class="text-sm font-sans-serif float-left">
							<i class="fa-regular fa-calendar"/>{" "}<FormattedDate date={entry.data.date}/>
						</p>
					</div>
				</div>
				))}
				<div class="grid grid-cols-3 justify-items-center paginate">
					<div>
					</div>
					<div class="text-neutral-500">
						Page 1 / {maxPages}
					</div>
					<div>
						<a href="/page/2">Next</a>
					</div>
				</div>
		</main>
		<Footer />
	</body>
</html>
