---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import {startOfMonth, format, parseISO, startOfYear} from 'date-fns';
import FormattedDate from '../../components/FormattedDate.astro';
import {getNewsletterCollection, readingTime, stripHTML} from "../../lib/frontPageHelpers";


export const prerender = true;

const posts = (await getNewsletterCollection())

// Print all dates of posts

// Group objects by month in an object
let groups = new Map();
posts.forEach((post) => {
	const monthStart = startOfMonth(post.data.date);

	// Old dates
	if (monthStart < new Date('2025-01-01')) {
		const key = format(monthStart, "yyyy-MM");
		if (!groups.has(key)) {
			groups.set(key, { display: format(monthStart, "MMMM yyyy"), posts: []});
		}
		groups.get(key).posts.push(post);
		return groups;
	}

	// Higher dates, 2025+
	const key = format(monthStart, "yyyy");
	if (!groups.has(key)){
		groups.set(key, { display: format(monthStart, "yyyy"), posts: []});
	}
	groups.get(key).posts.push(post);
	return groups


});

// Sort groups by month from newest to oldest
groups.forEach((group) => {
	group.posts.sort((a, b) => b.data.date - a.data.date);
});

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul {
				list-style-type: none;
				padding: unset;
			}
			ul li {
				display: flex;
			}
			ul li :global(time) {
				flex: 0 0 130px;
				font-style: italic;
				color: #595959;
			}
			ul li a:visited {
				color: #8e32dc;
			}
		</style>
	</head>
	<body>
		<div>
		<Header />
		</div>
		<main>
			<p><i>This page has every newsletter, ever.</i></p>
			<section>
					{Array.from(groups.entries()).sort().reverse().map(([key, group]) => (
						<div class="flex justify-between">
							<h2 class="my-0.5">{group.display}</h2>
							<a class="place-content-center" href="#">Back to top</a>
						</div>

						<ul>
							{group.posts.map((post) => (
								<li class="flex justify-start space-x-1">
									<FormattedDate date={post.data.date} />
									<a href={`/newsletter/${post.slug}/`}>{post.data.title}</a>
									{post.slug.startsWith("newsletter") || !post.slug.startsWith("2025/01") ?
										<p class="pl-2 my-0 leading-7 text-sm text-neutral-500">({readingTime(stripHTML(post.body))})</p>
									: null}
								</li>
							))}
						</ul>
					))}
								<!--{group.posts.map((post) => (-->
								<!--	<li>-->
								<!--		<FormattedDate date={post.data.date} />-->
								<!--		<a href={`/newsletter/${post.slug}/`}>{post.data.title}</a>-->
								<!--		<p class="ml-2 my-0 leading-7 align-middle text-sm text-neutral-500">({readingTime(stripHTML(post.body))})</p>-->
								<!--	</li>-->
								<!--))}-->
			</section>
		</main>
		<Footer />
	</body>
</html>
